*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: brown;
  padding: 2rem;
}

#root {
  display: flex;
  align-items: flex-start;
  gap: 4rem;
}